.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  img {
    display: block;
    margin: 10px auto;
  }

  button {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    align-self: end;
  }
}

